@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgb(242, 245, 249);
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h3 {
    color: rgb(0, 113, 189);
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

.table-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
}

.table-div > .table-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
}

.table-div > .table-row > * {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 1 auto;
    min-width: 0;
    flex-direction: column;
}

.table-div > .table-row > * > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 1 0;
    min-width: 0;
}

.table-div > .table-row > * > span {
    display: inline;
}
